   body {
     background-color: black;
     padding-top: 50px;
   }

   .transparent-navbar {
     background-color: rgba(48, 47, 47, 0.7);
     backdrop-filter: blur(10px);
   }

   .nav-link {
     color: white !important;
   }

   .nav-link:hover,
   .nav-link:active {
     background-color: black;
   }

   /* carousel button */
   #galleryCarousel .carousel-control-prev,
   #galleryCarousel .carousel-control-next {
     opacity: 0;
     transition: opacity 0.3s ease;
   }

   #galleryCarousel:hover .carousel-control-prev,
   #galleryCarousel:hover .carousel-control-next {
     opacity: 1;
   }

   .carousel-img {
     width: 100%;
     padding: 15px;
     object-fit: contain;
     max-height: 400px;
   }

   .table-dark {
     background-color: transparent !important;
   }

   .table-dark th,
   .table-dark td {
     border-color: rgba(255, 255, 255, 0.3) !important;
   }

   #specifications .card img {
     width: 80px;
     height: 80px;
     object-fit: contain;
     background-color: white;
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
   }

   .card:hover {
     transform: translateY(-5px);
     box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
     transition: all 0.3s ease;
   }

   .custom-card {
     background-color: rgba(48, 47, 47, 0.4);
   }

   .btn-light {
     background-color: white;
     color: black;
     border: none;
     transition: all 0.3s ease;
   }

   .btn-light:hover {
     background-color: #ccc;
     color: black;
     transform: scale(1.05);
   }

   /* image responsiveness */
   @media (max-width: 1200px) {

     /* carousel image */
     .carousel-img {
       max-height: 300px;
     }

     #specifications .card img {
       width: 70px;
       height: 70px;
     }
   }


   @media (max-width: 768px) {

     #specifications .card img {
       width: 60px;
       height: 60px;
     }
   }